@model HRApp.Models.vi_emp_this_month

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>vi_emp_this_month</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.depName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.depName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarlyOverTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarlyOverTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarlyOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarlyOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarlyOutType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarlyOutType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverTime1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverTime1)
        </dd>
    </dl>
</div> 